{:deps {org.clojure/clojure             {:mvn/version "1.10.3"}
        org.bouncycastle/bcprov-jdk15on {:mvn/version "1.70"}
        org.bouncycastle/bcpkix-jdk15on {:mvn/version "1.70"}
        commons-codec/commons-codec     {:mvn/version "1.15"}
        com.cemerick/url                {:mvn/version "0.1.1"}}}